.container {
    width: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 90px;
    padding-bottom: 90px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}
.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y)
}
.col {
    flex: 0 0 auto;
    width: 33.33333%;
    margin-bottom: 3rem;
}
.mb-4 {
    margin-bottom: 1.5rem;
}
.mb-5 {
    margin-bottom: 3rem;
    font-size: 30px;
}
.uppercase {
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}
.text-primary {
    color: #FD5D14;

}
.col-lg-8 {
    flex: 0 0 auto;
    width: 66.66667%;
}
.formDiv {
    background-color: #F4F6F8;
    text-align: center;
    padding: 3rem;
}
.form {
    gap: 1rem;
}
.formRow {
    flex: 0 0 auto;
    width: 100%;
}
.formControl {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #777;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    appearance: none;
    border-radius: false;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
.formControl:focus {
    color: #777;
    background-color: #fff;
    border-color: #feae8a;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(253,93,20,0.25)
}
.formControl::placeholder {
    color: #6c757d;
    opacity: 1
}
.buttonDiv {
    flex: 0 0 auto;
    width: 100%
}
.errors {
 color: #FD5D14;
}
